.header {
  background: $bg-container-color;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }

  &__logo {
    font-size: 24px;
    font-weight: 900;
    color: white;

    & span {
      color: $base-color;
    }
  }

}