$base-color: #E2E700;
$base-second-color: rgba($base-color, 0.70);
$error-color: #ffb098;

$bg-main-color: #282828;
$bg-container-color: #484848;
$bg-forms-color: #D9D9D9;

$default-border-radius: 15px;